<div style="background-image: url('./background.jpg');  
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;"
>
<img src="/logo.svg" style="height:50px; margin-left: 200px; margin-top:25px;"/>
<div style="text-align:center; margin-top:50px; margin-left">

<div style="margin-top:50px">
<h1 style="
color:white; 
font-family: 'houseonmars';
src: url('house_on_mars-webfont.woff2') format('woff2'),
url('house_on_mars-webfont.woff') format('woff');
font-style: normal;
font-weight: normal;
text-shadow: 2px 2px 5px #42f5e6;"
>Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

  <div class="mb-6">
    <%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path, class: "btn bg-blue-500 text-white w-full block text-center" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>

    <div style="margin-top:50px;">
      <h1 style="
        color:white; 
        font-family: 'houseonmars';
        src: url('house_on_mars-webfont.woff2') format('woff2'),
        url('house_on_mars-webfont.woff') format('woff');
        font-style: normal;
        font-weight: normal;
        text-shadow: 2px 2px 5px #42f5e6;
      ">About the Project</h1>
    </div>
    <div style="text-align:left; width:1000px; margin:auto; margin-top:35px; margin-bottom:50px; text-align: justify;
    text-justify: inter-word; color:white; font-size:18px;">
      <p>Tired of echoing into a void trying to connect with all the wonderful people you have met on your tech journey? Us too. Here at Echo Net we give you the tools to help you build out and track your technical professional network to build out meaningful interactions with your contacts.</p>

      <p>Echo Net began in December of 2019 as a capstone project for a three-month long Web Developer bootcamp in downtown San Diego. It has since grown from a idea formed during a brainstorm into a complete project, and we look forward to how Echo Net will continue to grow in the future.</p>
      
      <p>Today, Echo Net has been deployed, and the team is continuing to add features that will increase the social integrations and workflows with an eye for automation.</p>
    </div>
  <div>
    <h1 style=
      "color:white; 
      font-family: 'houseonmars';
      src: url('house_on_mars-webfont.woff2') format('woff2'),
      url('house_on_mars-webfont.woff') format('woff');
      font-style: normal;
      font-weight: normal;
      text-shadow: 2px 2px 5px #42f5e6;"
    >Team Bio</h2>
    <div class="polaroid" style="max-width:40%; margin-right:50px; margin-bottom:50px">
      <img  src="./Christi_Headshot.jpg" style="margin-left:auto; margin-right:auto; width: 80%" />
      <h3>Christi Wright</h3>
      <h4>
        "Hi there! I’m Christi and nothing excites me more than developing clean code that simplifies life. That’s why I am so pumped to have worked on Echo Net. The most fun part for me was working on the Linkedin and Github OAuth."
      </h4>
    </div>
    <div class="polaroid" style="max-width:40%; margin-right:50px; margin-bottom:50px">
      <img src="./Joe_Headshot.jpg"style="margin-left:auto; margin-right:auto; width: 80%" />
      <h3>Joseph Yuan</h3>
      <h4>
        "I thoroughly enjoyed collaborating with my amazing team as we struggled and succeeded at developing a product that could change the way you network."
      </h4>
    </div>
    <br />
    <div class="polaroid" style="margin-left:auto; margin-right:auto; width: 80%">
      <img src="./pug.jpg" style="margin-left:auto; margin-right:auto; width: 80%" />
      <h3>Ryan Young</h3>
      <h4>
        "Yo!"
      </h4>
    </div>
    <div class="polaroid" style="max-width:40%; margin-right:50px; margin-bottom:50px">
      <img src="./Yumi_Headshot.jpg" style="margin-left:auto; margin-right:auto; width: 80%" />
      <h3>Yumi Park</h3>
      <h4>
        "Building EchoNet was an informative experience - our team was constantly learning as we built the app. I enjoyed designing the retro throwback app with accessibility in mind."
      </h4>
    </div>
  </div>
</div>
</div>